body {
    background: url('nycma.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
  font-family: 'Rock Salt', cursive;
}

h2{
  font-family: 'Rock Salt', cursive;
}
